@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&family=Poppins:wght@300;500;600;700;800&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

header{
    width: 100%;
    height: 10vh;
}

#menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 12rem;
    font-size: 26px;
    letter-spacing: 3px;
    color:white;
    font-weight: 700;
    cursor: pointer;
}

.lista{
    padding-right: 7rem;
    display: flex;
    list-style: none;
}

.lista a{
    text-decoration: none;
    padding: 1.2rem;
    font-weight: 600;
    color: #bdbebd;
    transition: all 0.5s;
}

.lista a:hover{
    color: #dd06dd;
}

main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: 700;
    font-size: 40px;
    color: white;
}

.principal_text{
    display: flex;
    flex-direction: column;
    height: 120px;
    z-index: 4;
}

.animation{
    display: flex;
    justify-content: center;
    position: relative;
}

.texto-dinamico {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #dd06dd;
    position: absolute;
    top: 0;
    opacity: 0;
}

#texto_1{
    animation: slide 9s infinite;
    z-index: 3;
}

#texto_2{
    animation: slide 9s infinite;
    animation-delay: 3s;
    z-index: 2;
}

#texto_3{
    animation: slide 9s infinite;
    animation-delay: 6s;
    z-index: 1;
}

@keyframes slide{
    0%{
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    20%{
        opacity: 1;
        transform: translateY(0);
    }
    30%{
        opacity: 1;
        transform: translateY(-40%);
    }
    40%{
        opacity: 0;
    }
    100%{
        transform: translateY(-100%);
    }
}

p{
    text-align: center;
    padding: 30px;
    width: 900px;
    font-weight: 400;
    font-size: 16px;
    color: #bdbebd;
}

button{
    background-color: black;
    padding: 12px 24px;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

Button:hover{
    padding: 12px 24px;
    border: 2px solid #dd06dd;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 400;
}